{$FRONTEND_DOMAIN:www.kyenai.com} {
	encode zstd gzip
	reverse_proxy frontend:3000
}

{$APEX_DOMAIN:kyenai.com} {
	redir https://{$FRONTEND_DOMAIN:www.kyenai.com}{uri} permanent
}

{$API_DOMAIN:api.kyenai.com} {
	encode zstd gzip
	reverse_proxy backend:8000
}

:80 {
	@apex host {$APEX_DOMAIN:kyenai.com}
	handle @apex {
		redir https://{$FRONTEND_DOMAIN:www.kyenai.com}{uri} permanent
	}

	@https_hosts host {$FRONTEND_DOMAIN:www.kyenai.com} {$API_DOMAIN:api.kyenai.com}
	handle @https_hosts {
		redir https://{host}{uri} permanent
	}

	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
